@font-face {
    font-family: 'Gidole Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gidole Regular'), url('../fonts/Gidole-Regular.woff') format('woff');
    }

    @keyframes move_wave {
        0% {
            transform: translateX(0) translateZ(0) scaleY(1)
        }
        50% {
            transform: translateX(-25%) translateZ(0) scaleY(0.55)
        }
        100% {
            transform: translateX(-50%) translateZ(0) scaleY(1)
        }
    }



    body,html {
        margin:0;
        padding:0;
        background: #121725;
      }



.container
{
    position: relative;
    width: 100%;
    height: 100%;
}



.content{
    font-weight: bold;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000;
    position: relative;
    z-index: 100;
    height:100%;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}



.Title {
    margin-left: 20px;
    margin-right: 20px;
    font-family: industry-inc-3d, sans-serif;
    height: 128px;
    font-weight: normal;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    color: red;
    z-index: 1000;
}

.flashed-messages
{
    z-index: 20;
    font-family: industry-inc-base, sans-serif;
    height: 24px;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    color: red;
    /* border: 1.5px solid #f05d5b;
    box-shadow: 4px 4px 0px #f05d5b;
    margin-top: 10px; */
}

.overlay {
    height: auto;
    width: 0;
    position: fixed;
    z-index: 1000;
    right: 0;
    top:10%;
    background: linear-gradient(to bottom left,#121725,#232E49 40% );
    overflow-x: hidden;
    transition: 0.5s;
    color:white;
    border-radius:5px;
    box-shadow: 0.1em 0.1em 0.1em #01020538, -0.1em -0.1em 0.1em #01020538;
  }
  
  .overlay-content {
    position: relative;
    width: 100%;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 1px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top:0 ;
    right: 10px;
    font-size: 20px;
    
  }
  
  .to-do-item
  {	display:flex;
      padding:5px;
      margin:0.5em;
      border-radius:5px;
      background: linear-gradient(to bottom left,#232E49 40%,#121725 );
  }
  
  .to-do-input
  {   border:none;
      border-radius:5px;
      padding:3px;
    width: 70%;
    flex-grow: 2;
    background: #121826;
    color: seashell;
    font-family: industry-inc-base, sans-serif;
    font-size: 10px;
    height: auto;
  }
  
  .to-do-text
  {
      margin:1em;
      padding:1px;
      width:80%;
      font-size: 10px;
  }
  
  .delete
  
  {

        font-size:1px;
  }
  
  .to-do-item-text
  {
  margin:auto;
  font-size: 10px;
  padding: 0.2em;
  font-family: industry-inc-base, sans-serif;
  }
  
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn 
    {
    font-size: 40px;
    top: 0;
    right: 35px;
    }
  }


  .task-form
  {
      display:flex;
      flex-direction:row;
      box-shadow:0.1em 0.1em 0.1em #01020538, -0.1em -0.1em 0.1em #01020538;
    padding:2px;
    border-radius: 5px;
    margin-left: 0.5em;
    border-radius: 5px;
    
  }

  .add-task-button
  {
    box-shadow:0.1em 0.1em 0.1em #01020538, -0.1em -0.1em 0.1em #01020538;
    background:linear-gradient(to bottom left,#232E49, #3E4569);
    color:white;
    font-family: industry-inc-base, sans-serif;
    border-radius: 3px;
  }
