
.header {

  overflow: hidden;
  width: 100%;
}
@media (orientation: landscape) 
{
  body {
    display: flex;
    flex-direction: row;
  }
  .container
  {
    height: 125%;
  }
}



.edit-button {
  position: relative;
  float: right;
  
}

.edit-icon-img {
  width: 1.5em;
  height: 1.5em;
  background: transparent;
  margin-top:20px;
  margin-right: 20px;

}

.back-button {
  position: relative;
  float: right;
  padding-right: 2em;
  
}

.back-icon-img {
  width: 3.5rem;
  height: 2.5rem;
  background: transparent;
  margin-top:20px;
  margin-left: 20px;
}

.title-profile {
  padding-left:1.5em;
  padding-top: 25px;
  font-family: industry-inc-base, sans-serif;
  font-weight: normal;
  font-size: 25px;
  top: -5px;
  color: seashell;

}



.add-button-img {
  height: 75px;
  width: 75px;
  position: fixed; 
  bottom: 20px;
  right: 20px;
}

.add-button {
  position: sticky;
  z-index: 1;
  
}

.date-time {
  display: flex;

  width: 100%;
}

.date-time-task
{
  margin-top: 1.5em;
  border: 1px solid transparent;
  display: flex;
}


.half-block {
  display: block;
  margin:0;
  flex-basis: 100%;
  max-width: 50%;
}

.date-time-container {
  max-width: 50vw;
  height: auto;
border-radius: 10px;
margin-left: 3.5em;
margin-top: 0.2em;

}

.date-time {
  margin: 0 auto;
  border: 1px solid transparent;

}

.date-time-text {
  font-family: industry-inc-base, sans-serif;
  font-weight: normal;
  text-align: center;
  color: seashell;
  line-height: 35px;
  margin: auto;
  font-size: 12px;

}



.icon-container {

  max-width: 50vw;
  display: flex;
  justify-content: stretch;

}

.icon-img {

  padding-top: 1em;
  padding-bottom: 1em;
  height: 160px;
}

.mode-icon {
  margin: 0 auto;
  
}

.icon-title {
  margin: 0 auto;
}

.icon-title-text {
  font-family: industry-inc-base, sans-serif;
  font-weight: normal;
  font-size: 15px;
  text-align: center;
  color: #f15e5c;
  line-height: 10px;

}




@media only screen and (min-width:1000px)
  {
    .button-container 
    {
      min-height: 75px;
      overflow: hidden;
      height: auto;
      text-align: center;
      display: grid;
      grid-template-columns: repeat(4, minmax(auto, 1fr));
      grid-gap:1px, 10px;
      padding-top:4em;
    
    }
    .buttons
    {
      margin-bottom: 0.5em;
    }
  }


  @media only screen and (min-width: 600px) and (max-width:1000px)
  {
    .button-container 
    {
      min-height: 75px;
      overflow: hidden;
      height: auto;
      text-align: center;
      display: grid;
      grid-template-columns: repeat(4, minmax(auto, 1fr));
      grid-gap:1px, 10px;
      padding-top:2em;

    
    }

  @media (orientation: landscape) 
  {
    body {
      display: flex;
      flex-direction: row;
    }
    .container
    {
      height: 125%;
      border-radius: 50px;
    }

    .button-container {
      min-height: 75px;
      overflow: hidden;
      height: auto;
      text-align: center;
      display: grid;
      grid-template-columns: repeat(4, minmax(auto, 1fr));
      grid-gap:1px, 10px;
      padding-top:1em;
    padding-bottom: 1em;
    
  }
    .date-time-task
    {
      margin-top: 1em;
    }

  }

  .temp-hum 
  {
    background: linear-gradient(to bottom left,#232E49, #3E4569);
    border-radius: 15px;
    box-shadow: 0.1em 0.1em 0.1em #00000038, 0.1em 0.1em 0.1em #00000038;
    margin-left: 5.7em;
    margin-right: 6.4em;
    display: flex;
    margin-top: 1em;
  }
}
    /* .button
    {
      min-width: 200;
    }



  } */
  
  @media only screen and (max-width: 500px)
  {
   
.button-container {
  min-height: 75px;
  overflow: hidden;
  height: auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  grid-gap:1px, 10px;
  margin:1.5em;
  
}

}



.access-button {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.buttons{
  padding-top: 1em;
  padding-left: 1em;
    padding-right: 1em;

}
.button 
{
  min-height: 70px;
  max-height: 150px;
  min-width: 70px;
  max-width: 135px;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: auto;
  border: none;
  color: white;
  text-align: center;
    text-decoration: none;
    font-size: auto;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow:0.1em 0.1em 0.1em #00000038, 0.1em 0.1em 0.1em #00000038;
    text-shadow: 0px -1px #333;
    border-radius: 15px;
    padding: 15px 25px;
    background-image: linear-gradient(to bottom left,#232E49 55%, #3E4569);;

    /* text styles */
    font-family:  industry-inc-base, sans-serif;
    font-weight: 100;
    
}


.button:after	
{
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;

  height: 50%;
}

.button:hover
{
background: linear-gradient(#073,#0fa);
}

.name-button
{
  min-width:70px;
  max-width: 135px;
  height: auto;
  background-color: gray;
  color:white;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  cursor: pointer;
  box-shadow: 0px 1px 4px -2px #333;
  border-radius: 15px;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-family: industry-inc-base, sans-serif;
}

.main-content
{
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background:linear-gradient(to bottom left,#232E49 40%,#121725 );
  height: -webkit-fill-available;
}

.camera-button
{
  float:right;
}

.weather-container
{
  height: 150px;
  background: linear-gradient(to bottom left,#232E49, #3E4569);
  border-radius: 15px;
  box-shadow:0.1em 0.1em 0.1em black, 0.1em 0.1em 0.1em black;
  max-width:256px;
  margin:auto;
  justify-content: center;
  vertical-align: middle;

}

.weather
{
  background: linear-gradient(to bottom left,#232E49, #3E4569);
  border-radius: 15px;
  box-shadow:0.1em 0.1em 0.1em #00000038, 0.1em 0.1em 0.1em #00000038;
  margin-left: 2em;
  margin-right: 2em;

}

.room-icon
{
  vertical-align: middle;
  width:32px;
  position: relative;
  
}


.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background: linear-gradient(to left, #F34C94, #927DE3 40%);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


  .divider
  {
    left:50%;
    margin-top:2%;
    margin-bottom:2%;
    border-left:1px solid #1b1e2f42;
}

.temp-hum
{
  background: linear-gradient(to bottom left,#232E49, #3E4569);
  border-radius: 15px;
  box-shadow:0.1em 0.1em 0.1em #00000038, 0.1em 0.1em 0.1em #00000038;
  margin-left: 3em;
  margin-right: 3em;
  display: flex;
  margin-top: 1em;
}


.temp-hum-container {
  max-width: 50vw;
  height: auto;
border-radius: 10px;

margin-top: 0.2em;

}


.room-access-button {

  box-shadow:0.1em 0.1em 0.1em #00000038, 0.1em 0.1em 0.1em #00000038;
    background: linear-gradient(to bottom left,#232E49, #3E4569);
    border-radius: 15px;
    min-height: 70px;
    max-height: 80px;
    min-width: 110px;
    max-width: 135px;
    color: seashell;
    font-family: industry-inc-base, sans-serif;
    display: grid;
  grid-template-areas:
    'image name name'
    'image slider slider';
    grid-template-columns: 50% 25% 25%;
    padding: 0.5em;
    position: relative;
    margin: 0.2em;
}


.switch-container
{
  margin: auto;
    grid-area: slider;
    position: absolute;
    right: 0;
    bottom: 0;
}

.temp-icon
{
  width: 9px;
    height: 24px;
    margin: 0.8em;
}

.hum-icon
{
  width: 16px;
    height: 24px;
    margin: 0.8em;
}

.room-temp
{
  margin: 0.8em;
}

.room-humidity
{
  margin:0.8em;
}