.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100px;
    background: seashell;
    box-shadow: 0px 3px 6px rgba(255, 107, 107, 0.3);

}

.edit-button {
    position: relative;
    float: right;
    
}

.edit-icon-img {
    width: 20px;
    height: 20px;
    background: transparent;
    margin-top:20px;
    margin-right: 20px;
    display: none;
}

.back-button {
    position: relative;
    float: left;
    
}

.back-icon-img {
    width: 20px;
    height: 20px;
    background: transparent;
    margin-top:20px;
    margin-left: 20px;
}

.title-profile {
    font-family: industry-inc-base, sans-serif;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    color: red;
    padding-top: 30px;
}



.words-container {
    max-width: 50vw;
    height: 125px;

    border: 1px solid seashell;
    display: grid;

}


.play-button-img {
    height: 75px;
    width: 75px;
    position: fixed; 
    bottom: 20px;
    right: 20px;
}

.play-button {
    position: sticky;
    z-index: 1;
    
}

.date-time {
    display: flex;
 
    width: 100%;
}

.half-block {
    display: block;
    margin:0;

    flex-basis: 100%;
    max-width: 50vw;
}

.date-time-container {
    max-width: 50vw;
    height: 40px;

    border: 1px solid seashell;

}

.date-time {
    margin: 0 auto;
}

.date-time-text {
    font-family: industry-inc-base, sans-serif;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    color: #f15e5c;
    line-height: 41px;
    margin: auto;

}







.mode-words {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.icon-container {
    max-width: 50vw;
    height: 150px;
    border: 1px solid seashell;
    display: grid;

}

.icon-img {

    padding-top: 0.5em;
    padding-right: 10%;
}

.mode-icon {
    margin: 0 auto;
}

.icon-title {
    margin: 0 auto;
}

.icon-title-text {
    font-family: industry-inc-base, sans-serif;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    color: #f15e5c;
    line-height: 10px;

}



.team-container {
    

    border: 1px solid seashell;
    min-height: 75px;
    height: 52%;
    text-align: center;
    
}

.team-member {
    margin: 0;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.button 
{
    background-color: #4CAF50; /* Green */
    border: none;
      color: white;
      padding: 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      box-shadow: 0px 1px 4px -2px #333;
      text-shadow: 0px -1px #333;
      border-radius: 40px;
      padding: 15px 25px;
      background-color: green; /*for compatibility with older browsers*/
      background-image: linear-gradient(rgb(255, 1, 1),rgb(209, 162, 162));

      /* text styles */
      text-decoration: none;
      color: #fff;
      font-size: 25px;
      font-family: sans-serif;
      font-weight: 100;
}


.button:after	
{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
  
    height: 50%;
}

.button:hover
{
  background: linear-gradient(#073,#0fa);
}

.weather
{
    height:100px;
}