body,html {
  margin:0;
  padding:0;
}
.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 5rem;


}

.edit-button {
  position: relative;
  float: right;
  
}

.edit-icon-img {
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  margin-top:20px;
  margin-right: 20px;

}

.back-button {
  position: relative;
  float: left;
  
}

.back-icon-img {
  width: 3.5rem;
  height: 2.5rem;
  background: transparent;
  margin-top:20px;
  margin-left: 20px;
}

.title-profile {
  font-family: industry-inc-base, sans-serif;
  font-weight: normal;
  font-size: 30px;
  top: -5px;
  color: seashell;

}



.add-button-img {
  height: 75px;
  width: 75px;
  position: fixed; 
  bottom: 20px;
  right: 20px;
}

.add-button {
  position: sticky;
  z-index: 1;
  
}

.date-time {
  display: flex;

  width: 100%;
}

.date-time-task
{
  margin-top: 1.5em;
  border: 1px solid transparent;
  display: flex;
}


.half-block {
  display: block;
  margin:0;
  flex-basis: 100%;
  max-width: 50%;
}

.date-time-container {
  max-width: 50vw;
  height: auto;
border-radius: 10px;
margin-left: 3.5em;
margin-top: 0.2em;

}

.date-time {
  margin: 0 auto;
  border: 1px solid transparent;

}

.date-time-text {
  font-family: industry-inc-base, sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  color: seashell;
  line-height: 35px;
  margin: auto;

}



.icon-container {

  max-width: 50vw;
  display: flex;
  justify-content: stretch;

}

.icon-img {

  padding-top: 1em;
  padding-bottom: 1em;
  height: 160px;
}

.mode-icon {
  margin: 0 auto;
  
}

.icon-title {
  margin: 0 auto;
}

.icon-title-text {
  font-family: industry-inc-base, sans-serif;
  font-weight: normal;
  font-size: 15px;
  text-align: center;
  color: #f15e5c;
  line-height: 10px;

}

.buttons
{
  top:10%;
}



  @media only screen and (min-width: 600px)
  {
    .button-container {
      min-height: 75px;
      overflow: hidden;
      height: auto;
      text-align: center;
      display: grid;
      grid-template-columns: repeat(4, minmax(auto, 1fr));
      grid-gap:1px, 10px;
      padding-top:4em;
      
    }
    .button
    {
      min-width: 200;
    }

  }
  
  @media only screen and (max-width: 500px)
  {
.button-container {
  min-height: 75px;
  overflow: hidden;
  height: auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  grid-gap:1px, 10px;
  margin:1.5em;
  
}
}

.access-button {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.buttons{
  padding: 20px;
}
.button 
{
  min-height: 70px;
  max-height: 150px;
  min-width: 70px;
  max-width: 135px;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: auto;
  border: none;
  color: white;
  text-align: center;
    text-decoration: none;
    font-size: auto;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow:0.1em 0.1em 0.1em black, 0.1em 0.1em 0.1em black;
    text-shadow: 0px -1px #333;
    border-radius: 15px;
    padding: 15px 25px;
    background-image: linear-gradient(to bottom left,#232E49 55%, #3E4569);;

    /* text styles */
    font-family:  industry-inc-base, sans-serif;
    font-weight: 100;
    
}


.button:after	
{
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;

  height: 50%;
}

.button:hover
{
background: linear-gradient(#073,#0fa);
}

.weather
{
  width: auto;
  max-width: 100%;

  border-radius: 10px;
}

.name-button
{
  width:auto;
  min-width: 115px;
  background-color: gray;
  color:white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0px 1px 4px -2px #333;
  border-radius: 40px;
  padding: 15px 25px;
}

.main-content
{
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background:linear-gradient(to bottom left,#232E49 40%,#121725 );
  height: 100%;
}

.camera-button
{
  float:right;
}

.weather-container
{
  height: 150px;
  background: linear-gradient(to bottom left,#232E49, #3E4569);
  border-radius: 15px;
  box-shadow:0.1em 0.1em 0.1em black, 0.1em 0.1em 0.1em black;
  max-width:256px;
  margin:auto;
  justify-content: center;
  vertical-align: middle;

}

.weather
{
  background: linear-gradient(to bottom left,#232E49, #3E4569);
  border-radius: 15px;
  box-shadow:0.1em 0.1em 0.1em black, 0.1em 0.1em 0.1em black;
  margin-left: 3.5em;
  margin-right: 3.5em;
}

.room-icon
{
  vertical-align: middle;
  width:32px;
  position: relative;
  
}