<html lang="en">
<head>
{% block head %}
<title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="https://use.typekit.net/oaq5uou.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <style>
        @import url("https://use.typekit.net/oaq5uou.css");
      </style>

       <script>
        function goBack() 
        {
            window.history.back();
        }
        </script>


    <script>

        
    $(document).on('submit','#task-form',function(e)
                   {
      console.log('hello');
      e.preventDefault();
      $.ajax({
        type:'POST',
        url:'/to-do',
        data:{
          todo:$("#input-task").val()
        },
        success:function()
        {
          console.log('saved');
          $( "#tasks" ).load(window.location.href + " #tasks" );
        }
      })
      return false;
    });
  </script>
{% endblock %}
</head>
<body>


    <div class="container">

        <div class="content">
            <div class="flashed-messages" style="display:none;">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {{messages[-1]}}
                    {% endif %}
                {% endwith %}
            </div>
            {% block content %}
            
            {% endblock %}

        </div>
    </div>
    
    <div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
		<ul style="list-style-type:none;padding-inline-start: 0.5em;" id="tasks">
        {%for task in tasks%}
        <li id="list-{{task.id}}"> 
              <div class="to-do-item">
                	<p class="to-do-item-text">{{task.text}} </p>
                	<a href="javascript:void(0)" class="delete" id="{{task.id}}" onclick="delete_item(this.id);">&times;</a>
              </div>		
           </li>

        {%endfor%}

          <li id="list-id"> 
              <div class="to-do-item">
                	<p class="to-do-item-text">Man shouldnt li with another man </p>
                	<a href="javascript:void(0)" class="delete" id="id" onclick="delete_item(this.id);">&times;</a>
              </div>		
           </li>
        </ul>
        <div class="to-do-text" id="task-form">
        	
            <form class="task-form" id="task-form">
                <input class="to-do-input" type="text" id="input-task">
                <input type="submit" id="submit-task"class="add-task-button">+</input>
            </form>
        </div>
  </div>
</div>


<script>


function openNav() {
  document.getElementById("myNav").style.width = "50%";
}

function closeNav() {
  document.getElementById("myNav").style.width = "0%";
}
function delete_item(item)
{
    item = "list-"+item;
    item = document.getElementById(item);
    item.remove();
}


</script>
    

</body>
</html>