{% extends "base.html" %}
{% block title %}House{% endblock %}
{% block head %}
  {{ super() }}
   <link rel="stylesheet" href="{{url_for('static', filename='css/house.css')}}">
    <link rel="stylesheet" href="https://use.typekit.net/oaq5uou.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js" integrity="sha512-iZIBSs+gDyTH0ZhUem9eQ1t4DcEn2B9lHxfRMeGQhyNdSUz+rb+5A3ummX6DQTOIs1XK0gOteOg/LPtSo9VJ+w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
    <style>
        @import url("https://use.typekit.net/oaq5uou.css");
      </style>
       <script>
        function goBack() 
        {
            window.history.back();
        }
        </script>
        
        
        
        
        
        
        <script>
        console.log('try connect');

        const socket = io.connect('http://192.168.0.201:5000');
        socket.on("connect", function()
        {
            socket.emit('toggle_sensors', {'code':String('{{room.code}}')}); 
        });

        function send_command(relay_id)
        {
            socket.emit('process_request', {'relay':relay_id, 'code':String('{{room.code}}')});
        }

        socket.on('update_sensor',function(data)
        {
            if (data['code'] == '{{room.code}}')
            {
                $('#room-humidity').text(data['humidity']);
                $('#room-temp').text(data['temperature']);
            }

        });

    </script>

    <script>
        function changeButtonText(button)
        {     
            input_box = "input-text-" + button;
            name = "relay-"+ button;
            console.log(input_box);
            document.getElementById(name).innerHTML = document.getElementById(input_box).value;
        }

        function submit_form(){
            document.getElementById('edit_room').submit();
        }
    </script>


 
    
{% endblock %}
{% block content %}


    <div class="header">
        <div class="back-button">
            <div class="back-icon">
                <input type = "image" class="back-icon-img" src="{{url_for('static', filename='image/back.png')}}" alt="" onclick="goBack()">

            </div>
        </div>
        <div class="edit-button">
            <div class="edit-icon">
                <img class="edit-icon-img" src="{{url_for('static', filename='image/done.png')}}" alt="" onclick="submit_form()">
            </div>
        </div>
        
        <div class="camera-button">
            <a href ="{{url_for('security')}}">
                <img  class="edit-icon-img" src="{{url_for('static', filename='image/security.png')}}" alt="">
            </a>
        </div>
        <div class="title-profile">
            <span style="font-size:auto;">{{room.name}}</span>
        </div>
    </div>



<div class="main-content">

    <div class="content-container">

        <div class="buttons">
        <form method="POST" id="edit_room">
            <div class="button-container" id="button-container">
               
                {%for relay in room.relays%}
                {%if not relay.active%}
                 <div>
                <div class="room-access-button" id="buttons">
                    <img class="room-icon" style="margin:auto; grid-area:image;" id="image-{{relay.pin}}" src="{{url_for('static', filename='image/room.png')}}">
                    <p style=" grid-area:name;font-size: 11px;position: absolute;right: 0;" id ="relay-{{relay.pin}}">{{relay.name}}</p>
                    <div class="switch-container" style="margin:auto; grid-area:slider;">
                        <label class="switch" for="{{relay.pin}}">
                            <input type="checkbox" id="{{relay.pin}}" >
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <input class="name-button" type="text" name ='{{relay.pin}}' id= "input-text-{{relay.pin}}" onchange="changeButtonText('{{relay.pin}}')">
                </div>
                {%else%}
                <div>
                <div class="room-access-button" id="buttons">
                    <img class="room-icon" style="margin:auto; grid-area:image;" id="image-{{relay.pin}}" src="{{url_for('static', filename='image/room-color.png')}}">
                    <p style="grid-area:name;font-size: 11px;position: absolute;right: 0;" id ="relay-{{relay.pin}}">
                        {{relay.name}}
                    </p>
                    <div class="switch-container" style="margin:auto; grid-area:slider;">
                        <label class="switch" for="{{relay.pin}}">
                            <input type="checkbox" id="{{relay.pin}}" checked>
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <input class="name-button" type="text" name ='{{relay.pin}}' id= "input-text-{{relay.pin}}" onchange="changeButtonText('{{relay.pin}}')">
                </div>
                {%endif%}
                {%endfor%}
            
            </div>
        </form>
        </div>


        <div class="temp-hum">
            <div class="half-block">
                <div class="temp-hum-container">
                    <div class="date-time">
                        <img class="temp-icon" src="{{url_for('static', filename='image/temperature.png')}}">
                        <p id="room-temp"class="date-time-text">temperature</p>
                    </div>
                </div>
            </div>

            <div class="divider"></div>
            <div class="half-block">
                <div class="temp-hum-container">
                    <div class="date-time">
                        <img class="hum-icon" src="{{url_for('static', filename='image/humidity.png')}}">
                        <p id= "room-humidity"class="date-time-text" >humidity</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="date-time-task" style="border-radius:10px 10px;">
            <div class="half-block">
                <div class="date-time-container">
                    <div class="date-time">
                        <p id="date"class="date-time-text">date</p>
                    </div>
                    <div class="date-time" >
                        <p id= "time" style="font-size:35px;" class="date-time-text" >time</p>
                    </div>
                </div>
            </div>

            <div class="half-block" style="margin-right: 1em;" >
                <div class="access-button" id="buttons">
                        <button type="button" class="button" "btn-selection" id="12" onclick="window.location.href='{{ url_for('controls' , sid=room)}}';"> 
            
                        Add Task +
                        </button>
                </div>
            </div>
            
            <script type="text/javascript" src="{{url_for('static', filename='js/clock.js')}}"></script>
        </div>
    </div>
        

</div>


 <script>
$("input[type='checkbox']").click(function()
{
    console.log('checkbox clicked');
    image = "#image-"+ String(this.id);
        if($(this).is(":checked"))
        {
            
            $(image).attr('src',"{{url_for('static', filename='image/room-color.png')}}");
            console.log(image);
            send_command(this.id, true)
        }
        else
        {
            $(image).attr('src', "{{url_for('static', filename='image/room.png')}}");
            console.log("uncheck");
            send_command(this.id, false)
        }
});
</script>



        

    
    
{% endblock %}