{% extends "base.html" %}
{% block title %}House{% endblock %}
{% block head %}
  {{ super() }}
   <link rel="stylesheet" href="{{url_for('static', filename='css/house.css')}}">
    <link rel="stylesheet" href="https://use.typekit.net/oaq5uou.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js" integrity="sha512-iZIBSs+gDyTH0ZhUem9eQ1t4DcEn2B9lHxfRMeGQhyNdSUz+rb+5A3ummX6DQTOIs1XK0gOteOg/LPtSo9VJ+w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
        <style>
        @import url("https://use.typekit.net/oaq5uou.css");
      </style>


<script>
    function changeButtonText(button)
    {     
        input_box = "input-text-" + button
        console.log(input_box);
        document.getElementById(button).innerHTML = document.getElementById(input_box).value;
    }

    function submit_form(){
        document.getElementById('edit_home').submit();
        console.log('Posting');
    }
</script>

<script>
$('input[type="checkbox"]').on('change', function() 
{
  if($(this).is(":checked")) 
  {
     alert('checked');
     console.log(this.id);
  }
});
</script>

 
    
{% endblock %}
{% block content %}
      <div class="header">
            <div class="back-button">
                <div class="back-icon">
                <a href="{{url_for('logout')}}">
                    <img class="edit-icon-img" src="{{url_for('static', filename='image/logout.png')}}" alt="">
                </a>
                </div>
            </div>

                        <div class="camera-button">
                <a href ="{{url_for('security')}}">
                    <img  class="edit-icon-img" src="{{url_for('static', filename='image/security.png')}}" alt="">
                </a>
            </div>
            <div class="edit-button">
                <div class="edit-icon">
                    <input type="image" class="edit-icon-img" src="{{url_for('static', filename='image/done.png')}}" alt="" onclick="submit_form()">
                </div>
            </div>
            

            <div class="title-profile">
                <span>House</span>
            </div>
        </div>

         <div class="add-button" style="display:none;" id="controls">

            <img class="add-button-img" src="{{url_for('static', filename='image/add.png')}}" alt="" >
         </div>

      <div class="main-content">


    <div class="buttons">
    <form method="POST" id="edit_home">
        <div class="button-container" id="button-container">
        
        {%for room in rooms%}
            <div>
            <div class="access-button" id="buttons">
               <button type="button" class="button" "btn-selection" id="{{rooms[room].code}}" onclick="window.location.href='{{ url_for('controls' , sid=room)}}';"> 
                            <img class="room-icon" src="{{url_for('static', filename='image/room.png')}}">
                            <span style="display:inline-block; margin-left:5%;">
                            {{rooms[room].name}}
                            </span>
                        </button>

              </div>
                <input class="name-button" type="text" name ="{{rooms[room].code}}"id="input-text-{{rooms[room].code}}" onchange="changeButtonText('{{rooms[room].code}}')">
            
            </div>
        {%endfor%} 
        
        </div>
        </form>
    </div>
        <div class="weather">
            <a class="weatherwidget-io" href="https://forecast7.com/en/28d4677d03/gurugram/" data-font="Ubuntu" data-icons="Climacons Animated" data-mode="Current" data-days="3" data-theme="original" data-basecolor="rgba(62, 69, 105, 0)" data-accent="#d84b4b" >Gurgaon, Haryana, India</a>
            <script>
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="{{url_for('static', filename='js/weather-widget.js')}}";fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
            </script>
        </div>

    <div class="date-time-task" style="border-radius:10px 10px;">
            <div class="half-block">
                <div class="date-time-container">
                    <div class="date-time">
                        <p id="date"class="date-time-text">date</p>
                    </div>
                    <div class="date-time" >
                        <p id= "time" style="font-size:35px;" class="date-time-text" >time</p>
                    </div>
                </div>
            </div>

            <div class="half-block" style="margin-right: 1em;" >
                <div class="access-button" id="buttons">
                        <button type="button" class="button" "btn-selection" id="12" onclick="window.location.href='{{ url_for('controls' , sid=room)}}';"> 
            
                        Add Task +
                        </button>
                </div>
            </div>
            
            <script type="text/javascript" src="{{url_for('static', filename='js/clock.js')}}"></script>
        </div>

    </div>

{% endblock %}