{% extends "base.html" %}
{% block title %}House{% endblock %}
{% block head %}
  {{ super() }}
   <link rel="stylesheet" href="{{url_for('static', filename='css/house.css')}}">
    <link rel="stylesheet" href="https://use.typekit.net/oaq5uou.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js" integrity="sha512-iZIBSs+gDyTH0ZhUem9eQ1t4DcEn2B9lHxfRMeGQhyNdSUz+rb+5A3ummX6DQTOIs1XK0gOteOg/LPtSo9VJ+w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
    <style>
        @import url("https://use.typekit.net/oaq5uou.css");
      </style>
       <script>
        function goBack() 
        {
            window.history.back();
        }

        if(performance.navigation.type == 2){
   location.reload(true);
}

    </script>
    <script>
        console.log('try connect');

        const socket = io.connect('http://192.168.0.201:5000');
        socket.on("connect", function()
        {
            console.log("connected");
        });
        socket.on("update_home", function(data)
        {
            console.log('creating button')
            window.location.reload();
        });
    </script>



 
    
{% endblock %}
{% block content %}
     <ul class="header">
        <li class="back-button">
            <div class="back-icon">
            </div>
        </li>
        <li class="edit-button">
             <div class="edit-icon">
                <img class="edit-icon-img" src="{{url_for('static', filename='image/edit.png')}}" alt="">
            </div>
        </li>
      <li class="title-profile"><p>My House</p></li>
    </ul>

       <div class="play-button" id="controls">

            <img class="play-button-img" src="{{url_for('static', filename='image/add.png')}}" alt="" >
    </div>

    <div class="date-time">
        <div class="half-block">
            <div class="date-time-container">
                <div class="date-time">
                    <p id="date"class="date-time-text">date</p>
                </div>
            </div>
        </div>
        <div class="half-block">
            <div class="date-time-container">
                <div class="date-time">
                    <p id= "time"class="date-time-text" >time</p>
                </div>
            </div>
        </div>
            <script type="text/javascript">

        var tday=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
        var tmonth=["January","February","March","April","May","June","July","August","September","October","November","December"];

        function GetClock()
        {
        var d=new Date();
        var nday=d.getDay(),nmonth=d.getMonth(),ndate=d.getDate(),nyear=d.getFullYear();
        var nhour=d.getHours(),nmin=d.getMinutes(),nsec=d.getSeconds(),ap;

        if(nhour==0){ap=" AM";nhour=12;}
        else if(nhour<12){ap=" AM";}
        else if(nhour==12){ap=" PM";}
        else if(nhour>12){ap=" PM";nhour-=12;}

        if(nmin<=9) nmin="0"+nmin;
        if(nsec<=9) nsec="0"+nsec;

        var date = ""+tday[nday]+", "+tmonth[nmonth]+" "+ndate+" "+nyear+""
        var clocktext= " "+nhour+":"+nmin+":"+nsec+ap+"";

        document.getElementById('time').innerText=clocktext;
        document.getElementById('date').innerText=date;       
         }

        GetClock();
        setInterval(GetClock,1000);

    </script>
    </div>

    <div class="date-time">
        <div class="half-block">
            <div class="icon-container">
                <div class="mode-icon">
                    <div class="icon-img">
                        <!-- weather widget start --><a target="_blank" href="https://www.booked.net/weather/gurgaon-18508">
                            <img src="https://w.bookcdn.com/weather/picture/28_18508_1_1_95a5a6_250_7f8c8d_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=2&domid=w209&anc_id=78873"  alt="booked.net"/>
                        </a><!-- weather widget end -->
                    </div>
                </div>
            </div>
        </div>

        <div class="half-block">
            <div class="icon-container">
                <div class="mode-icon">
                    <img class="icon-img" src="{{url_for('static', filename='img/performance.png')}}" alt="">
                </div>
                <div class="icon-title">
                    <p class="icon-title-text">Mode</p>
                </div>
            </div>
        </div>
    </div>

    <div class="team">
        <div class="team-container" id="button-container">
        {%for room in rooms%}
            <div class="team-member" id="buttons">
                <button type="button" class="button" "btn-selection" id="{{rooms[room].code}}" onclick="window.location.href='{{ url_for('controls' , sid=room)}}';"> 
                    {{rooms[room].name}}
                </button>
            </div>
        {%endfor%} 
        </div>
    </div>



    
{% endblock %}